.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.ComposeStackThumb {
  transition: all 0.5s;
}
.ComposeStackThumb_collapsed {
  transition: all 0.2s;
  max-width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.ComposeStackThumb-Content {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.ComposeStackThumb_collapsed .ComposeStackThumb-Content {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.ComposeStackMenu {
  -webkit-flex: none;
          flex: none;
  width: 256px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-left: 4px;
}
.ComposeStackMenu:hover .ComposeStackMenu-Title,
.ComposeStackMenu_active .ComposeStackMenu-Title,
.ComposeStackMenu-DraftLink:hover {
  background-color: #1d2434;
}
.ComposeStackMenu_active .ComposeStackMenu-Title {
  border-radius: 0;
}
.ComposeStackMenu-Title,
.ComposeStackMenu-Content {
  color: #fff;
  background-color: #2d374f;
}
.ComposeStackMenu-Title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 12px 5px 12px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  pointer-events: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 36px;
  font-size: 14px;
  font-weight: normal;
}
.ComposeStackMenu_active .ComposeStackMenu-TitleIcon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.ComposeStackMenu-TitleText {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
}
.ComposeStackMenu-TitleIcon {
  -webkit-flex: none;
          flex: none;
  margin-left: 8px;
  opacity: 0.5;
}
.ComposeStackMenu-TitleIcon:hover {
  opacity: 1;
}
.ComposeStackMenu-Marker {
  margin-left: 8px;
  margin-right: 8px;
}
.ComposeStackMenu-Content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px 8px 0 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  pointer-events: all;
}
.ComposeStackMenu_active .ComposeStackMenu-Content {
  height: calc(100% - 32px);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  overflow: hidden;
}
.ComposeStackMenu-Items {
  height: 100%;
  overflow: auto;
}
.ComposeStackMenu-Item {
  height: 36px;
}
.ComposeStackMenu-ItemContent {
  padding: 6px 8px !important;
}
.ComposeStackMenu-ItemContent_active {
  background-color: #1d2434 !important;
  cursor: default;
}
.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.composeTooltip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 9px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
  background-color: #3e3e3e;
  max-width: 450px;
}
.composeTooltip::before {
  content: none;
}
.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.ComposeStack {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  z-index: 900;
  pointer-events: none;
}
.ComposeStack-Item {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  pointer-events: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 250px;
  -webkit-flex-basis: 250px;
          flex-basis: 250px;
  margin-left: 4px;
  min-width: 105px;
  box-sizing: border-box;
}
.with-ThemeOverlay:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).webkit .ComposeStack,
.mail-Page_no_vscroll:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).webkit .ComposeStack {
  margin-right: 13px;
}
.with-ThemeOverlay:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).no-mac.msie .ComposeStack,
.mail-Page_no_vscroll:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).no-mac.msie .ComposeStack,
.with-ThemeOverlay:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).no-mac.mozilla .ComposeStack,
.mail-Page_no_vscroll:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).no-mac.mozilla .ComposeStack {
  margin-right: 17px;
}
.with-ThemeOverlay:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).mac.mozilla .ComposeStack,
.mail-Page_no_vscroll:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).mac.mozilla .ComposeStack {
  margin-right: 16px;
}
.with-ThemeOverlay:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).no-mac.edge .ComposeStack,
.mail-Page_no_vscroll:not(.mail-Page_3pane-vertical):not(.mail-Page_3pane-horizontal).no-mac.edge .ComposeStack {
  margin-right: 15px;
}
.mail-Page_404 .ComposeStack {
  display: none;
}
.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.ComposeMetaAvatar_monogram {
  position: relative;
}
.ComposeMetaAvatar_monogram.ComposeMetaAvatar:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
  mix-blend-mode: soft-light;
}
.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.ComposePopup_size_medium {
  top: 32px !important;
  bottom: 32px !important;
  left: calc(50% - 456px) !important;
  width: 912px;
}
@media screen and (max-height: 960px) {
  .ComposePopup_size_medium {
    top: 4px !important;
    bottom: 4px !important;
  }
}
@media screen and (max-width: 940px) {
  .ComposePopup_size_medium {
    left: 14px !important;
    right: 14px !important;
    width: unset !important;
  }
}
.ComposePopup_size_medium .ComposePopup-Body {
  overflow-x: auto;
}
.ComposePopup_size_medium .ComposePopup-BodyContent {
  min-width: 912px;
}
.ComposePopup_size_small {
  width: 560px;
  height: 560px;
  left: auto !important;
  top: auto !important;
  right: 16px !important;
  bottom: 52px !important;
}
.mail-Page_with_Timeline .ComposePopup_size_small {
  bottom: 83px !important;
}
.ComposeManager_hidden .ComposePopup_size_small {
  bottom: 16px !important;
}
.mail-Page_with_Todo .ComposeManager_hidden .ComposePopup_size_small,
.mail-Page_with_Timeline .ComposeManager_hidden .ComposePopup_size_small {
  bottom: 47px !important;
}
@media screen and (max-width: 592px) {
  .ComposePopup_size_small {
    left: 16px !important;
    width: auto !important;
  }
  .ComposePopup_size_small .ComposePopup-Body {
    overflow-x: auto;
  }
}
@media screen and (max-height: 592px) {
  .ComposePopup_size_small {
    top: 16px !important;
    height: auto !important;
  }
}
@media screen and (max-height: 628px) {
  .ComposeManager_visible .ComposePopup_size_small {
    top: 16px !important;
    height: auto !important;
  }
}
@media screen and (max-height: 623px) {
  .mail-Page_with_Timeline .ComposePopup_size_small {
    top: 16px !important;
    height: auto !important;
  }
}
@media screen and (max-height: 659px) {
  .mail-Page_with_Timeline .ComposeManager_visible .ComposePopup_size_small {
    top: 16px !important;
    height: auto !important;
  }
}
.ComposePopup_size_small .ComposePopup-BodyContent {
  min-width: 560px;
}
.ComposeStack {
  z-index: 3000;
}
.mail-ThemeOverlay {
  z-index: 3002;
}
.ComposePopup_size_large {
  top: 68px !important;
  left: auto !important;
  bottom: 52px !important;
}
.mail-Page_with_Timeline .ComposePopup_size_large {
  bottom: 83px !important;
}
.ComposeManager_hidden .ComposePopup_size_large {
  bottom: 16px !important;
}
.mail-Page_with_Todo .ComposeManager_hidden .ComposePopup_size_large,
.mail-Page_with_Timeline .ComposeManager_hidden .ComposePopup_size_large {
  bottom: 47px !important;
}
@media screen and (max-width: 912px) {
  .ComposePopup_size_large {
    left: 0 !important;
    width: auto !important;
  }
  .ComposePopup_size_large .ComposePopup-Body {
    overflow-x: auto;
  }
}
.mail-Page_minified .ComposePopup_size_large {
  top: 71px !important;
}
@media screen and (max-height: 617px) {
  .ComposePopup_size_large,
  .mail-Page_minified .ComposePopup_size_large,
  .mail-Page_with_Timeline .ComposePopup_size_large,
  .mail-Page_with_Todo .ComposePopup_size_large,
  .ComposeManager_hidden .ComposePopup_size_large,
  .mail-Page_with_Todo .ComposeManager_hidden .ComposePopup_size_large,
  .mail-Page_with_Timeline .ComposeManager_hidden .ComposePopup_size_large {
    top: 6px !important;
    bottom: 6px !important;
  }
}
.ComposePopup_size_large-BodyContent {
  min-width: 912px;
}
@media screen and (max-height: 617px) {
  .ComposeManager_size_large .ComposeStack {
    z-index: 1000;
  }
}
.ComposePopup {
  z-index: 2000;
  --popup-view-default-fill-color: var(--color-mg-surface-elevated-lvl-2);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  position: fixed;
  -webkit-animation: none !important;
          animation: none !important;
}
.ComposePopup-Content {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  pointer-events: auto;
  width: 100%;
}
.ComposePopup-Body {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.ComposePopup-BodyContent {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.composeHeader {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  color: var(--button-view-clear-typo-color-base);
}
.composeHeader_activable:hover {
  cursor: pointer;
}
.composeHeader-Avatar {
  border-radius: 50%;
  background-image: url(//yastatic.net/s3/liza/_/b8066af4f225b5542d0c2b2f42624f55-unknown-avatar.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.composeHeader-Recipients {
  margin-left: 4px;
  opacity: 0.5;
  font-size: 14px;
}
.composeHeader-Text {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
          flex: 1;
  min-width: 0;
  font-family: inherit;
  font-size: 14px;
}
.composeHeader-Title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}
.composeHeader-SavedAt {
  font-weight: 400;
  font-size: 14px;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  font-family: YS Text, Arial, sans-serif;
  opacity: 0.5;
}
.composeHeader-SavedAt:first-letter {
  text-transform: uppercase;
}
.composeHeader-Buttons {
  margin-left: 4px;
}
.composeHeader-SavedAt,
.composeHeader-Buttons {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
}
.composeHeader_collapsed {
  background-color: #2d374f;
  color: var(--color-typo-inverse);
  padding: var(--space-3-xs) 6px var(--space-3-xs) 8px;
}
.composeHeader_collapsed..composeHeader_activable:hover {
  background-color: #1d2434;
}
.composeHeader_collapsed .composeHeader-Avatar {
  -webkit-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
}
.composeHeader_collapsed .composeHeader-Avatar .mail-Avatar span {
  font-size: 12px;
  line-height: 26px;
}
.composeHeader_collapsed .composeHeader-Avatar .mail-Avatar {
  width: 24px;
  height: 24px;
}
.composeHeader_collapsed .composeHeader-Text {
  line-height: 16px;
}
.composeHeader_collapsed .composeHeader-Title:not(:empty) {
  margin-left: 8px;
}
.composeHeader_expanded {
  padding: 10px 32px 10px 28px;
  position: relative;
}
.composeHeader_expanded.composeHeader:after {
  position: absolute;
  bottom: 0;
  left: 28px;
  right: 28px;
  content: ' ';
  border-bottom: 1px solid rgba(45,55,79,0.15);
  height: 1px;
}
.composeHeader_expanded .composeHeader-Avatar {
  -webkit-flex: 0 0 32px;
          flex: 0 0 32px;
  height: 32px;
}
.composeHeader_expanded .composeHeader-Text {
  line-height: 20px;
}
.composeHeader_expanded .composeHeader-SavedAt:not(:empty) {
  margin-left: 12px;
}
.ControlButtons__root--3tqjs {
    color: inherit;
}

.composeHeader_collapsed:hover .ControlButtons__default--Rt9m7 .ControlButtons__icon--z6gpV {
   opacity: 1;
}
.ControlButtons__root--3Bvny {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
}
.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.ComposeHotkeysPromo {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  padding: 40px;
  background: #f4f4f4;
}
.ComposeHotkeysPromo-Image .svgicon {
  width: 172px;
  height: 172px;
  display: block;
}
.ComposeHotkeysPromo-Content {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  font-size: 16px;
  color: #333;
}
.ComposeHotkeysPromo-Shortcut {
  font-weight: bold;
}
.ComposeHotkeysPromo-ShortcutKey {
  padding-right: 4px;
}
.ComposeHotkeysPromo-Description {
  margin-top: 12px;
}
.ComposeHotkeysPromo-Action {
  margin-top: 12px;
  cursor: pointer;
  color: #0990f2;
}
.with-dark-content .ComposeHotkeysPromo {
  background: rgba(255,255,255,0.07);
}
.with-dark-content .ComposeHotkeysPromo-Content {
  color: #fff;
}
.with-dark-content .ComposeHotkeysPromo-Action {
  color: #fc0;
}
.DoneScreen__Container--uh6nf {
    font-family: var(--typography-font-family);
    border-radius: 12px;
    background:
        url(//yastatic.net/s3/liza/_/c38f903f0b4555b3afefc9d97d1ca4ac-at.svg) 100% 100% no-repeat,
        url(//yastatic.net/s3/liza/_/285d5362dd2a17abd3b51491b4ecc0a7-triangle.svg) 100% 100% no-repeat,
        linear-gradient(119.7deg, rgba(231, 236, 242, 0.9) 16.33%, rgba(239, 241, 243, 0.9) 160.17%);
    padding: 12px 24px 24px;
}

.DoneScreen__Text--1g5LI {
    margin: var(--space-2-xs) 0;
    width: var(--message-box-size-l-content-width);
    word-break: break-word;
}

.DoneScreen__Button--1Dh1U {
    margin-top: var(--space-s);
}
.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.ComposeDoneScreen {
  background: #fff;
  box-shadow: 0 4px 20px rgba(18,48,83,0.2);
  border-radius: 6px;
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 900 !important;
  overflow: hidden;
}
.ComposeDoneScreen.BeautifulEmail {
  border-radius: 16px;
}
.ComposeDoneScreen.BeautifulEmail .ComposeDoneScreen-Wrapper {
  padding: 8px 20px 20px;
  width: 600px;
  height: initial;
}
.ComposeDoneScreen.BeautifulEmail .ComposeDoneScreen-Header {
  height: 32px;
  position: relative;
}
.ComposeDoneScreen.BeautifulEmail .ComposeDoneScreen-Header.AlternativeHeader {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}
.ComposeDoneScreen.BeautifulEmail .ComposeDoneScreen-Settings {
  margin-left: 0;
}
.ComposeDoneScreen.BeautifulEmail .ComposeDoneScreen-Actions {
  font-size: 14px;
  margin-left: auto;
}
.ComposeDoneScreen.BeautifulEmail .ComposeDoneScreen-Close {
  margin-left: 12px;
}
.ComposeDoneScreen.BeautifulEmail .ComposeDoneScreen-Title {
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}
.ComposeDoneScreen.BeautifulEmail.SendDate .ComposeDoneScreen-Title {
  font-size: 20px;
  line-height: 24px;
}
.ComposeDoneScreen.DarkTheme .ComposeDoneScreen-Wrapper {
  background: #292b37;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.1);
}
.ComposeDoneScreen.DarkTheme .ComposeDoneScreen-Link {
  color: #fc0;
}
.ComposeDoneScreen.DarkTheme .ComposeDoneScreen-Link:hover {
  color: #fc0;
}
.ComposeDoneScreen.DarkTheme .ComposeDoneScreen-Settings .ComposeDoneScreen-Link {
  color: rgba(255,255,255,0.7);
}
.ComposeDoneScreen.DarkTheme .ComposeDoneScreen-Settings .ComposeDoneScreen-Link:hover {
  color: rgba(255,255,255,0.8);
}
.ComposeDoneScreen.DarkTheme .ComposeDoneScreen-Close {
  color: rgba(255,255,255,0.7);
}
.ComposeDoneScreen.DarkTheme .ComposeDoneScreen-Close:hover {
  color: rgba(255,255,255,0.8);
}
.ComposeDoneScreen.DarkTheme .ComposeDoneScreen-StatusIconWrapper {
  background: rgba(255,255,255,0.2);
  box-shadow: initial;
}
.ComposeDoneScreen.DarkTheme .ComposeDoneScreen-StatusIcon {
  color: #fff;
}
.ComposeDoneScreen.BeautifulEmail.DarkTheme .ComposeDoneScreen-Link {
  color: rgba(255,255,255,0.7);
}
.ComposeDoneScreen.BeautifulEmail.DarkTheme .ComposeDoneScreen-Link:hover {
  color: rgba(255,255,255,0.8);
}
.ComposeDoneScreen.BeautifulEmail:not(.DarkTheme) .ComposeDoneScreen-Link,
.ComposeDoneScreen.BeautifulEmail:not(.DarkTheme) .ComposeDoneScreen-Close {
  color: rgba(26,26,26,0.65);
}
.ComposeDoneScreen.BeautifulEmail:not(.DarkTheme) .ComposeDoneScreen-Link:hover,
.ComposeDoneScreen.BeautifulEmail:not(.DarkTheme) .ComposeDoneScreen-Close:hover {
  color: rgba(0,0,0,0.4);
}
@media screen and (max-height: 666px) {
  .ComposeDoneScreen:not(.BeautifulEmail) {
    overflow-y: auto;
    top: 4px !important;
    bottom: 4px !important;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media screen and (max-height: 662px) {
  .ComposeDoneScreen.BeautifulEmail:not(.NoDirect):not(.SendDate) {
    overflow-y: auto;
    top: 4px !important;
    bottom: 4px !important;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media screen and (max-height: 702px) {
  .ComposeDoneScreen.BeautifulEmail:not(.NoDirect).SendDate {
    overflow-y: auto;
    top: 4px !important;
    bottom: 4px !important;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 912px) {
  .ComposeDoneScreen {
    left: 4px !important;
    right: 4px !important;
    overflow-x: auto;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
@media screen and (max-height: 666px) and (max-width: 912px) {
  .ComposeDoneScreen {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.ComposeDoneScreen-Wrapper {
  color: #333;
  width: 912px;
  height: 666px;
  box-sizing: border-box;
  padding: 0 40px 40px 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.ComposeDoneScreen-Header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  height: 104px;
  -webkit-flex: none;
          flex: none;
}
.ComposeDoneScreen-Title {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  margin-right: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.ComposeDoneScreen-TitleWrapper {
  margin-bottom: 40px;
  text-align: center;
}
.ComposeDoneScreen-Actions {
  font-size: 16px;
  line-height: 20px;
  -webkit-flex: none;
          flex: none;
}
.ComposeDoneScreen-Link {
  color: #0990f2;
}
.ComposeDoneScreen-Link:hover {
  color: #0990f2;
}
.ComposeDoneScreen-Icon {
  width: 16px;
  height: 16px;
}
.ComposeDoneScreen-Settings {
  margin-left: 40px;
  cursor: pointer;
  -webkit-flex: none;
          flex: none;
}
.ComposeDoneScreen-Settings .ComposeDoneScreen-Link {
  color: rgba(0,0,0,0.3);
}
.ComposeDoneScreen-Settings .ComposeDoneScreen-Link svg {
  display: block;
}
.ComposeDoneScreen-Settings .ComposeDoneScreen-Link:hover {
  color: rgba(0,0,0,0.4);
}
.ComposeDoneScreen-StatusIconWrapper {
  width: 72px;
  height: 72px;
  box-shadow: 0px 2px 3px rgba(147,156,176,0.15), 0px 0px 30px rgba(147,156,176,0.2);
  border-radius: 100px;
  margin: 12px auto 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.ComposeDoneScreen-StatusIcon {
  width: 40px;
  height: 40px;
  color: #55c151;
}
.ComposeDoneScreen-Promo {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 40px;
}
.ComposeDoneScreen-Ads {
  -webkit-flex: none;
          flex: none;
  height: 230px;
}
.ComposeDoneScreen-Close {
  color: rgba(0,0,0,0.3);
}
.ComposeDoneScreen-Close:hover {
  color: rgba(0,0,0,0.4);
}
.ComposeDoneScreen-Close .button2__text {
  display: -webkit-flex;
  display: flex;
  height: 24px;
  width: 24px;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.ComposeDoneScreen-Close .svgicon {
  width: 16px;
  height: 16px;
}
.ComposeDoneScreen-WithOffset {
  margin-bottom: 20px;
}
.result_success {
  color: #070;
}
.result_error {
  color: rgba(255,0,0,0.7);
}
.ComposeManager-PopupCompose_hidden {
  visibility: hidden !important;
}
.ComposeManager-PopupCompose_hidden .popup2 {
  visibility: hidden !important;
}
.ComposeManager-PopupCompose_hidden .composeReact__footer .button2 {
  display: none;
}
